.sidebar {
    background: #e9ebee;
    position: fixed;
    left: 0;
    top: 0;
    width:180px;
    height: 100vh;
    border-left: 8px solid #1c2f2f;
    overflow-y: auto;

    .personal {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px auto;
   

    img {
        width: 40px;;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #777;
    }
}
    .menu::before {
        content: ' ';
        display: block;
        border-bottom: 1px solid lightgray;
    }

    .menu{
        header{
            font-size: 1.3rem;
            // font-family: 'Indie Flower', cursive;
            padding-left: 10px;
        }
    }
    .menu nav {
        ul {
            margin-bottom: 20px;
            list-style: none;

            li {
                border: 1px solid transparent;
                font-size: 1.0rem;
                word-wrap: break-word;
            }

            li:hover {
                background: darkslategray;
                cursor: pointer;
                a{
                    color: #ffffff;
                }
            }

            a {
                text-decoration: none;
            }

            i {
                margin: 0 1em;
            }

            li.active{
                background: #1c2f2f;
                a{
                    color: #ffffff;
                }
            }
        }
    }

    .links{
        ul{
            margin-top: 20px;
        }
        li{
            margin:5px;
        }
    }
}

